.footer {
    padding: 3%;
    background-color: #2a2a2a;
    color: #ffffff;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__tel {
        a {
            color: #fff;
            &:hover {
                color: #fdac5c;
            }
        }
    }
}

.rights {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.21;
    color: #646464;
    padding-top: 20px;
}
.social {
    svg {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 5px;
        fill: #fff;
        &:hover {
            fill: #fdac5c;
        }
    }
    &__text {
        text-align: center;
    }
}