.footer {
    padding: 2% 3%;
    background-color: #2a2a2a;
    color: #ffffff;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 150px;
        img {
            width: 100%;
        }
    }
    &__tel {
        a {
            display: block;
            color: #fff;
            &:hover {
                color: #fdac5c;
                svg {
                    transition: 0.3s;
                    fill: #fdac5c;
                }
            }
        }
    }
    &__text {
        margin-bottom: 10px;
    }

}

.rights {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.21;
    color: #646464;
    padding-top: 20px;
}
.social {
    margin-top: 5px;
    svg {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 5px;
        fill: #fff;
        &:hover {
            fill: #fdac5c;
        }
    }
}
.phone {
    width: 12px;
    height: 12px;
    fill: #fff;
    margin-right: 5px;
}