@import "vars";

@media only screen and (max-width: 1680px) {
 
}
@media only screen and (max-width: 1240px) {
  
}
@media only screen and (max-width: 1023px) {
    header {
        height: auto;
        min-height: auto;
        padding: 0;
    }
    .overlay {
        position: static;
        padding: 3%;
    }
    .header__title {
        font-size: 53px;
        line-height: 1;
    }
    .menu-wrap {
        padding: 0;
    }
}
@media only screen and (max-width: 980px) {
    .title {
        font-size: 33px;
        letter-spacing: 10px;
    }
    .logo {
        max-width: 150px;
       
        img {
            width: 100%;
        }
    }
    .footer__logo {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 850px) {
    .toggle-menu {
        display: block;
    }
    .main-menu {
        a {
            color: #0b0b0b;
        }
        display: none;
        &.active {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.95);
            z-index: 50;
            right: 0;
            top: 0;
            ul {
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                text-align: center;
            } 
            .cross {
                display: block;
                position: absolute;
                top: 20px;
                left: 20px;
                width: 34px;
                height: 34px;
                &-line {
                    display: block;
                    position: relative;
                    width: 34px;
                    height: 3px;
                    background: #000;
                    border: none;
                    border-radius: 4px 4px 4px 4px;
                }
                &--topper {
                    top: 13px;
                    transform: rotate(-45deg);
                }
                &--bottom {
                    top: 9px;
                    transform: rotate(45deg);
                }
            }
        }
    }
    .menu-wrap {
        padding-left: 25px;
        padding-right: 25px;
    }


}
@media only screen and (max-width: 719px) {
    .header__title {
        font-size: 36px;
    }
    .header__subtitle {
        font-size: 64px;
    }
    .overlay {
        padding-bottom: 40px;
    }
    .whywe__item {
        font-size: 12px;
    }
    .footer .wrap {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__left, .footer__tel {
        width: 50%;
    }
    .social {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 479px) {
    .whywe__items {
        flex-direction: column;
    }
    .whywe__item {
        width: 100%;
        padding: 5%;
    }
    .whywe__item.middle {
        border: none;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }
    .footer__tel {
        margin: 20px 0;
    }
    .footer__left {
         order: 1;
         margin: 20px 0;
    }
    .footer__left, .footer__tel {
        width: 100%;
    }
}
@media only screen and (max-width: 320px) {

}