section.about#about
    .wrap
        .title О нас
        .about__text
            p Dance Studio «Alma» - танцевальная студия в г.Николаеве для людей любого возраста и уровня подготовки. Существует  с февраля 2017 года и успешно пополняет свои ряды талантливыми учениками. В Dance Studio «Alma» вы откроете для себя такие направления:
            ul
                li Bachata
                li Salsa
                li Kizomba
                li Lady's Style in bachata
                li Stretching
                li Reggaeton
            hr
            p Это место, где люди, впервые столкнувшиеся с социальными танцами,становятся не просто опытными танцорами, а частью одной большой семьи. Социальные танцы (англ. Social dance) — категория танцевальных стилей разных народов мира, которыми занимаются преимущественно не для соревнований, а в качестве досуга и обмена положительными эмоциями между партнёрами.  Мастер классы, вечеринки, фестивали, выездные мероприятия, open air – всё это наполнит вашу жизнь яркими красками.
