footer.footer
    .wrap
        .footer__left
            .footer__logo 
                img(src="img/logo.png", alt="alma")
            .rights © 2019 ALma, All rights reserved
        .footer__tel
            .tel Больше информации по телефонам 
            a(href="tel:+380937424277") ‎093-742-42-77, 
            a(href="tel:+380632433584") ‎063-243-35-84
        .social
            a.social__item(href="#") 
                svg.facebook
                    use(xlink:href='img/icons/facebook.svg#facebook')
            a.social__item(href="#")
                svg.instagram
                    use(xlink:href='img/icons/instagram.svg#instagram')
            a.social__item(href="#")
                svg.youtube
                    use(xlink:href='img/icons/youtube.svg#youtube')



script(src="js/scripts.min.js")
script(src="js/common.js")