head
	meta(charset='UTF-8')
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	<link rel="icon" href="img/favicon/favicon.ico">
	meta(name="keywords" content="Dance studio Alma, bachata, salsa, kizomba, бачата, сальса, кизомба, Реггетон, Reggaeton, Stretching, Стретчинг, Lady's Style, Женский стиль, вечеринки, мастер-классы, путешествия, поездки, танцы")
	meta(name="description" content="Dance studio Alma, студия танцев, танцы в Николаеве, социальные танцы, индивидуальные занятия, занятия в группах, школа танцев, досуг, вечеринки в Николаеве, направления танцев, обучение, общение, знакомства, развитие, путешествия")
	meta(name="author" lang="ru" content="Helen Portna")

	//- link(rel="shortcut icon" href="img/favicon.png")
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	link(rel="stylesheet" href="css/main.min.css")

	title Dance studio Alma 