header
	.overlay
		.wrap
			.menu-wrap
				.logo 
					img(src="img/logo.png", alt="alma")
				.toggle-menu
					.span Меню

				nav.main-menu 
					.cross
						span.cross-line.cross--topper
						span.cross-line.cross--bottom

					ul
						li
							a(href="#") О нас
						li
							a(href="#") Контакты
			.header
				h1.header__title Танцевальная студия в городе Николаев
				.header__subtitle Танцуй с душой
			