.whywe#whywe
    .wrap
        strong.title Почему Вы выбрали НАС
        .subtitle И МЫ ВАМ ЗА ЭТО БЛАГОДАРНЫ!
        .whywe__items
            .whywe__item
                svg.icon1
                    use(xlink:href='img/icons/icon1.svg#icon1')
                h3 Отличные преподаватели
                p Научим вас танцевать с нуля!
            .whywe__item.middle
                svg.icon2
                    use(xlink:href='img/icons/icon2.svg#icon2')
                h3 Окружение
                p Много новых друзей и единомышленников.
            .whywe__item
                svg.icon3
                    use(xlink:href='img/icons/icon3.svg#icon3')
                h3 Увлекательный досуг
                p Интересные тренировки, вечеринки, выездные поездки.
        .whywe__btn
            a.btn(href='javascript:void(0)', onclick='sfOpen();') Записаться на танцы